.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    flex-direction: column;
}

.line{
    display: flex;
}

/* items.js */
.img{
    height: 200px;
}

/* catergory.js */
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 0;
}


/* Cart.js/CartItem.js */
.simg{
    height: 50 px;
    width: 80px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.cart-container {
    max-width:1450px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-header,
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.column {
    flex: 1;
    padding: 0 10px;
}

.remove-btn {
    background-color: #66dbff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.msg {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.msg p {
    font-size: 18px;
    color: #555;
}
